body, button, p {
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 360px; 
    font-family: Arial, sans-serif;
    background-color: #dccfcf; 
    color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

  }
  
  button {
    font-size: 18px;
    width: 120px; 
    height: 40px;
    background: linear-gradient(to bottom, #7D00A3, #E3008C);
    color: #FFFFFF; /* White text color */
    border: none;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button:hover {
    background: linear-gradient(to bottom, #E3008C, #7D00A3); 
  }
  
  #job-description p {
    margin: 10px 0;
    font-size: 14px;
    color: #FFFFFF; 
    text-align: center;
  }
  
  #link-text {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
  }
  #click-count {
    text-align: center; 
    font-size: 18px; 
    color: #000000;
  }










